<% include ./partials/header %>
<div class="row">
	<div class="col-md-12">
		<form action="/forgot" method="POST">
			<legend>Forgot password</legend>
			<div class="form-group">
				<label for="email"></label>
				<input type="email" name="email" autofocus class="form-control" placeholder="Please, enter your email" >	
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit" value= "Reset pasword">Reset password</button>
			</div>
		</form>
		<div class="form-forgot">
            <a href="/login">Go Back</a>
        </div>
	</div>
</div>
<% include ./partials/footer %>